.container {
    font-family: "Poppins";
    padding: 1.2rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}

.mainContainer__right img {
    width: 100%;
    max-width: 400px;
    animation: float 4s ease-in-out infinite;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
    transition: transform 0.3s ease;
} 

.mainContainer__right {
    flex: 0.5;
}

.mainContainer__left {
    flex: 0.5;
}

.mainContainer__left > p:nth-child(1) {
    font-size: 2.9rem;
    background: -webkit-linear-gradient(45deg, #000, #9d9d9d);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.mainContainer__left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8 rem;
    font-size: 1.4rem;
    background: rgb(197, 44, 208);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}